//====================================================================================================
// Header styles
//====================================================================================================
.header {
    position: relative;
    width: 100%;
    height: 81px;
    padding: 14px 0;
    background-color: $color1;
}
.container {
		&_flex {
            display: flex;
            align-items: center;
		}
}
.logo {
    a {
    display: flex;
    align-items: center;
        img {
            position: relative;
        }
    }
}
.menu {
    margin-left: 100px;
		// .menu__list
		&__list {
            display: flex;
		}
		// .menu__item
		&__item {
            margin-right: 62px;
            &:last-child {
                margin-right: 0;
            }
		}
		// .menu__link
		&__link {
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.35px;
            color: $color6;
		}
}
.auth {
    margin-left: auto;
		// .auth__list
		&__list {
            display: flex;
            align-items: center;
		}
		// .auth__item
		&__item {
            margin-right: 36px;
            &:last-child {
                margin-right: 0;
            }
		}
		// .auth__link
		&__link {
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            color: $color5;
		}
        // .auth__item-signup
        &__item-signup {
            width: 122px;
            background: $color3;
            padding: 14px 24px;
            border-radius: 30px;
        }
        // .auth__link-signup
        &__link-signup {
            position: relative;
            color: $color12;
            font-weight: 600;
            &::after {
                content: '';
                position: absolute;
                top: 6px;
                right: -18px;
                background-image: url(../images/arrow-right-2.png);
                width: 5px;
                height: 9px;
            }
        }
}







