//<Variables>===============================================================================================
@import "global/variables.scss";
//</Variables>===============================================================================================

//<МИКСИНЫ>===============================================================================================
@import "global/mixins.scss";
//</МИКСИНЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "global/fonts.scss";
//</Подключаем шрифты>=======================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: 'Poppins', sans-serif;
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "global/null.scss";

body {
	position: relative;
	font-family: $fontFamily;
	background-color: $color2;
	// color: $mainColor;
	// background-color: $mainBackgroundColor;
	transition: all 300ms ease-in-out;
	&._lock {
		overflow: hidden;
	}
	&.active {
		background-color: #000;
		color: #fff;
	}
	// &::before {
	// 	content: '';
	// 	position: absolute;
	// 	top: 776px;
	// 	left: 0px;
	// 	background-image: url(../images/body-vector-left.png);
	// 	width: 494px;
	// 	height: 1162px;
	// }
	&::after {
		content: '';
		position: absolute;
		top: 0px;
		right: 0px;
		background-image: url(../images/body-vector-right.png);
		width: 508px;
		height: 2168px;
		z-index: -1;
	}
}


//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&.loaded {
	}
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $container + px;
	margin: 0 auto;
	// padding: 1.25rem;
	// @media (max-width: $md1 + px) {
	// 	max-width: 970px;
	// }
	// @media (max-width: $md2+px) {
	// 	max-width: 750px;
	// }
	// @media (max-width: $md3+px) {
	// 	max-width: none;
	// 	padding: 0 10px;
	// }
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "partials/forms.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
@import "partials/popup";
@import "partials/tippy";
@import "partials/ui";
@import "partials/header";
@import "partials/footer";
@import "partials/firstview";
@import "partials/teams";
@import "partials/solution";
@import "partials/cta";
@import "partials/tools";
@import "partials/patterns";
@import "partials/powerful";
@import "partials/slider";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
}

//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================

//</MEDIA Запросы>====================================================================================================
/*
@media (min-width: 1921px){}
@media (width: 1920px){}
@media (min-width: 1440px) and (max-width: 1919px) {}
@media (min-width: 1360px) and (max-width: 1439px) {}
@media (min-width: 1280px) and (max-width: 1359px) {}
@media (min-width: 1024px) and (max-width: 1279px) {}
@media (min-width: 768px) and (max-width: 1023px) {}
@media (min-width: 375px) and (max-width: 767px) {}
@media (min-width: 320px) and (max-width: 374px) {}
@media (max-width: 1919px) {}
@media (max-width: 1439px) {}
@media (max-width: 1279px) {}
@media (max-width: 767px) {}
*/
//</MEDIA Запросы>====================================================================================================
