//====================================================================================================
// Variables styles
//====================================================================================================

//Global
$minWidth: 320;
$maxWidth: 1920;
$container: 1600;
$maxWidthContainer: 1170;
$md1: $maxWidthContainer+12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

//Colors
$color1: #ffffff;
$color2: #f5f5f5;
$color3: #f6f6f6;
$color4: #eaeaff;
$color5: #333333;
$color6: #303030;
$color7: #0e2333;
$color8: #071825;
$color9: #de61ff;
$color10: #9747ff;
$color11: #6850d9;
$color12: #504cd1;
$color13: #3227cb;
$color14: #3126ca;
$color15: #de61ff;

// Transition
$transition200: hover .5s ease-in-out;
